<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="org.araymond.joal" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    disableAnsi="false"
                    noConsoleNoAnsi="false"
                    pattern="%style{%d{HH:mm:ss.SSS}}{blue} %highlight{[%-5level]}{FATAL=bright red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=magenta} %style{[%t]}{magenta} %style{%c{1.}}{cyan}: %msg%n%throwable"
            />
        </Console>
    </Appenders>

</Configuration>
